
<p class="mat-display-1">Edit user</p>
<section class="form">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder={{myUser.name}}>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput placeholder={{myUser.username}}>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder={{myUser.email}}>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Address City</mat-label>
    <input matInput placeholder={{myUser.address.city}}>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Address Street</mat-label>
    <input matInput placeholder={{myUser.address.street}}>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Address Suite</mat-label>
    <input matInput placeholder={{myUser.address.suite}}>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Address zip code</mat-label>
    <input matInput placeholder={{myUser.address.zipcode}}>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Address geo</mat-label>
    <input matInput placeholder='{{myUser.address.geo.lat}},{{myUser.address.geo.lat}}'>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Phone</mat-label>
    <input matInput placeholder={{myUser.phone}}>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Website</mat-label>
    <input matInput placeholder={{myUser.website}}>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Company</mat-label>
    <input matInput placeholder={{myUser.company.name}}>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Company Catchphrase</mat-label>
    <input matInput placeholder={{myUser.company.catchphrase}}>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Company BS</mat-label>
    <input matInput placeholder={{myUser.company.bs}}>
  </mat-form-field>
</section>
